
BostonFree.xcodeproj/project.xcworkspace/xcuserdata/user267597.xcuserdatad/UserInterfaceState.xcuserstate
BostonFree.xcodeproj/xcuserdata/user267597.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
